<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>webShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>main.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlet 매핑을 위한 등록 -->
  <servlet>
  	<servlet-name>bb</servlet-name> <!-- <servlet> 태그와 <servlet-mapping> 태그를 연결 -->
  	<servlet-class>com.shinhan4.controller.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bb</servlet-name> <!-- <servlet> 태그와 <servlet-mapping> 태그를 연결 -->
  	<url-pattern>/jsp/second</url-pattern> <!-- 웹 브라우저에서 요청하는 매핑 이름 -->
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>bb</servlet-name>
  	<url-pattern>/jsp/second2</url-pattern>
  </servlet-mapping>
  
  <!-- 2024.11.19 ServletConfig -->
  <servlet>
  	<servlet-name>servletconfig</servlet-name>
  	<servlet-class>com.shinhan4.controller.SecondServlet</servlet-class>
  	<init-param>
  		<param-name>email</param-name>
  		<param-value>gjk@naver.com</param-value>
  	</init-param>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servletconfig</servlet-name>
  	<url-pattern>/servlet/config</url-pattern>
  </servlet-mapping>
  
  <!-- application(ServletContext)에 parameter 보내기 -->
  <context-param>
  	<param-name>username</param-name>
  	<param-value>hr</param-value>
  </context-param>
  <context-param>
  	<param-name>userpw</param-name>
  	<param-value>1234</param-value>
  </context-param>
</web-app>